<!DOCTYPE html>
<html>
<head>
	<title></title>
   
   
</head>

<body background-image: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.108) ,background-size: 100%; background-repeat: no-repeat)>
<body style= " background-size: 100%; background-repeat: no-repeat;"background="C:\\Users\\computer world\\Desktop\\link webapp to html\\images\\bg10.jpg"></body>
   
<header>
	
    <nav>
        <div class="logo"> <h1 style="font-size: 50px;"><font color="Black"> About  </font></h1> </div>
        <p><h2>
            In this Webapp,we have deployed two deep learning models.The main objective of this webapp is to detect Covid-19 using X-ray image and CT-Scan</br>
            In this webapp user can easily signup using the for given in the Signup button and filling the required details then user will select the modality</br>
            through which he/she wanted to do the Covid-19 test.After selecting modality user caan simply upload the image by navigating through a window.</br></br>
            X-ray deep learning model is novel architecture trained on 1675 Covid-19 positive and negative images and is made up of 7 convolutional layers, 5 max-pooling layers, 7 ReLU layers, 2 dense layers, 1 flatten 
            layer, and 1 dropout layer. Each convolutional layer is followed by a ReLU operation. ReLU is used as an activation function.The kernel size used in 
            the proposed architecture is 3 x 3. The filters are gradually increased to a number such as 16, 32, 64, 128, 256, 512, 1024. This model ends with the Sigmoid activation function layer that produces the outputs.

            Suppose C denotes a convolutional layer, R denotes the ReLU activation layer and M denote a Maxpooling layer. Let C1 be the input layer then the layer layout is shown as:
        </br>  C1R1M1-C2R2M2-C3R3-C4R4-C5R5M3-C6R6M4-C7R7M5</br>
            CT-Scan deep learning model is trained on 749 Covid-19 positive and negative lungs CT-Scan. Pre-trained VGG-19 deep learning architecture is used. the model is pretrained and 
            the model is trained with 50 epoch and batch size 32. The model provides the accuracy of more than 95%. 
            
            
        </h2> </p>
       
    </nav>
</header>
</body>
</html>
