<!doctype html>
<html lang="en">
  <body background="C:\Users\computer world\Desktop\link webapp to html\images\bg10.jpg"></body>
<body style= " background-size: 100%; background-repeat: no-repeat;">
<style>
  button {
    width: 20%;
    font-size: 50px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;

  }

  h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(10, 78, 78);
  }

  img {
    text-align: center;
  }

 
    body {
         background-color: #c2e5f3;
     }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covid-19 Detection</title>
  </head>
  <body>
  
  
  <!--
  <h1>COVID-19 TESTING USING CT-SCAN IMAGES</h1>
		<input id="image-selector" type="file"> 
		<button id="predict-button" padding="15px" text-align="center">Predict</button><br>>Predict</button>
		<p>PREDICTION: <span id="result">...</span></p>
		<p>PROBABILITY: <span id="probability">...</span></p>
		<img id="selected-image" width="400" src=""/> -->
    
  <h1>COVID-19 TESTING USING CT-SCAN IMAGES</h1>
  <input id="image-selector" type="file">
  <img id="selected-image" width="300" height="200" src="" />

  <div>
    <h2>PREDICTION: <span id="result">...</span></h2>
    <h2>PROBABILITY: <span id="probability">...</span></h2>
  </div>
  <section>
    <button id="predict-button" padding="15px" text-align="center">Predict</button><br>
    <button id="print-button" padding="15px" text-align="center">Print</button>
  </section>


  </body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    let base64Image;
    $("#image-selector").change(function() {
        let reader = new FileReader();
        reader.onload = function(e) {
            let dataURL = reader.result;
            $('#selected-image').attr("src", dataURL);
            base64Image = dataURL.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
            console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);
        $("#result").text("");
        $("#probability").text("");

    });

    $("#predict-button").click(function(){
            let message = {
            image: base64Image
        }
        console.log(message);
        $.post("http://127.0.0.1:8000/predict", JSON.stringify(message), function(response){
            $("#result").text(response.prediction.result);
            $("#probability").text(response.prediction.accuracy.toFixed(2));
            console.log(response);
        });
    });
  </script>
</html>